<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Tunes and More{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <div class="wrapper">
    <header>
      <nav>
        {% if current_user.is_authenticated %}
        <a href="/songs">Music Player</a>
        <a href="/upload">Upload Song</a>
        <a href="/playlists">Playlist Maker</a>
        <a href="/history">Listening History</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/">Home</a>
        <div>
          <a href="/login">Login</a>
          <span style="margin: 0 0.5rem; color: white;"> / </span>
          <a href="/signup">Sign Up</a>
        </div>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </div>
  <footer>
    <p>&copy; 2024 Tunes and More Music Player</p>
  </footer>
</body>

</html>
