<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Music Player{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/songs/upload">Upload Song</a>
            <a href="/songs/player">Music Player</a>
            <a href="/songs/history">Listening History</a>
            <a href="/logout">Logout</a>
        </nav>

    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Flask Music Player</p>
    </footer>
</body>
</html>
