{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Log In</h1>
<form action="/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Log In</button>
</form>
<br>
<form action="/demo-login" method="GET">
    <button type="submit">Log In as Demo User</button>
</form>

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}
{% endblock %}
